.fundations {
  max-width: 1000px;
  margin: auto;
  color: $lighten-black;
  padding: 20px;
  p {
    font-size: 18px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
    line-height: 30px;
  }
  .fundation {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $lighten-black;
    padding-top: 30px;
    &:nth-of-type(1) {
      border-top: none;
    }
    p {
      font-size: 16px;
      font-weight: lighter;
    }
    &__left {
      h1 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .pages {
    text-align: center;

    span {
      margin-left: 50px;
      &:first-child {
        border: 1px solid $lighten-black;
        padding: 10px;
      }
    }
  }
}
