.header__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: px-rem(220);
  text-align: center;
  .header__welcome__title {
    font-size: px-rem(38);
    //   text-align: center;
    letter-spacing: px-rem(-0.76);
    color: $lighten-black;
    width: px-rem(670);
  }
  .header__img {
    align-self: center;
    width: px-rem(400);
    .header__welcome__cta--btn {
      margin: px-rem(10) px-rem(25);
    }
  }
  .header__welcome__cta {
    display: inline-flex;
    margin: px-rem(20);
    .header__welcome__cta__btn--one {
      text-transform: uppercase;
      font-size: px-rem(36);
      padding: px-rem(10) px-rem(100);
      border: px-rem(1) solid #000;
      margin: px-rem(20);
      color: $lighten-black;
    }
    .header__welcome__cta__btn--two {
      text-transform: uppercase;
      font-size: px-rem(36);
      padding: px-rem(10) px-rem(80);
      border: px-rem(1) solid #000;
      margin: px-rem(20);
      color: $lighten-black;
    }
  }
}
