.navigation {
  display: flex;
  flex-direction: column;
  margin-top: px-rem(50);
  .navigation__login {
    align-self: flex-end;
    display: inline-flex;
    .navigation__login-link {
      font-family: $font-base;
      font-size: px-rem(14);
      text-align: right;
      letter-spacing: 0px;
      opacity: 1;
      margin-left: px-rem(30);
      a {
        color: $gray;
        &:hover {
          border: px-rem(0.75) solid $yellow;
          padding: px-rem(10) px-rem(10);
        }
      }
    }
  }
  .navigation__menu {
    align-self: flex-end;
    display: inline-flex;
    .navigation__menu-link {
      font-family: $font-base;
      font-size: px-rem(18);
      margin-left: px-rem(55);
      margin-top: px-rem(35);
      text-align: right;
      letter-spacing: 0px;
      opacity: 1;
      text-align: left;
      a {
        color: $lighten-black;
      }
    }
  }
}
