@import "./settings/reset";
@import "./settings/fonts";
@import "./settings/colors";
@import "./settings/mixins";

@import "./layouts/header";
@import "./layouts/navigation";
@import "./layouts/openSection";
@import "./layouts/statistic";

* {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  font-family: $font-base;
  background: #fff;
  .test {
    font-family: $font-alt;
    font-size: px-rem(16);
  }
}
