@import "./settings/reset";
@import "./settings/fonts";
@import "./settings/colors";
@import "./settings/mixins";

@import "./layouts/ctaButton";
@import "./layouts/decoration";

@import "./layouts/header";
@import "./layouts/navigation";
@import "./layouts/openSection";
@import "./layouts/statistic";
@import "./layouts/steps";
@import "./layouts/stepsDescription";
@import "./layouts/aboutUs";
@import "./layouts/whoWeHelp";
@import "./layouts/ctaWhoWeHelp";
@import "./layouts/fundations";
@import "./layouts/organizations";
@import "./layouts/local";
@import "./layouts/contact";
@import "./layouts/footer";

@import "./layouts/signIn";
@import "./layouts/signUp";
@import "./layouts/logOut";

@import "./layouts/notFound";


* {
  box-sizing: border-box;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
}

body {
  font-family: $font-base;
  background: #fff;
  .test {
    font-family: $font-alt;
    font-size: px-rem(16);
  }
}
