@import "./reset";
@import "./settings/fonts";
@import "./settings/colors";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  background: $darker-yellow;
  .test {
      font-family: $font-alt;
  }
}
